@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1> ТАНТК им Г.М Бериева</h1>
    <p>ПАО «Таганрогский авиационный научно-технический комплекс
        им. Г.М. Бериева»
        опытное конструкторское бюро;
        производство;
        летно-испытательный комплекс;
        учебно-авиационный центр гидроавиации;
        авиационно-техническая база (АТБ);
        авиакомпания;
        аэропорт "Таганрог-Южный";
        склад временного хранения(СВХ);
        испытательно-экспериментальная база в г. Геленджике;
        сеть представительств в России и за рубежом.
    </p>
    <p><a href="http://www.beriev.com/rus/core.html" class="btn btn-primary btn-lg" role="button"> Узнать больше </a></p>
      
</div>
<div class="container">
 <div class="row">
    <div class="col-md-4">
        <h3> Бе-200 </h3>
        <p>  Базовая конфигурация самолета-амфибии Бе-200 предназначена для тушения лесных пожаров огнегасящими жидкостями. </p>
    </div>

    <div class="col-md-4">
        <h3> Бе-103 </h3>
        <p> Легкий самолет-амфибия Бе-103 многоцелевого назначения предназначен для выполнения следующих задач:
        · грузо-пассажирские перевозки;
        · оказание срочной медицинской помощи;
        · патрулирование, противопожарный надзор, экологический контроль акваторий;
        </p>
    </div>

    <div class="col-md-4">
        <h3> А-50 </h3>
        <p>Самолет ДРЛО А-50Э предназначен для обнаружения, сопровождения и определения государственной
         принадлежности (по принципу свой-чужой) воздушных, крупных наземных 
        и морских целей, выдачи информации о них на командные пункты 
        </p>
    </div>
 </div>
</div>
